@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Welcome home</h1>
        <div>Vi hjelper deg med å vokse, tenke nytt og skape merkevareopplevelser som varer. Vårt brede fagmiljø utvikler løsninger som styrker tilstedeværelsen din og bygger relasjoner med målgruppen.</div>
    </body>
</html>